<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lsm.spring01.mapper.TodoMapper">

    <select id="getTime" resultType="string">
        select now()
    </select>
    <!-- myBatis는 sql문의 value부분에 ? 대신 #{title}같이 파라미터를 처리한다. #{title}부분은 PreparedStatement로 변경되며 ?로 처리되고 주어진 객체의 getTitle()을 호출한다.   -->
    <insert id="insert">
        insert into tbl_todo (title, localDate, writer) values (#{title}, #{localDate}, #{writer})
    </insert>

    <select id="selectAll" resultType="org.lsm.spring01.domain.TodoVO">
        select * from tbl_todo order by tno
    </select>

    <select id="selectOne" resultType="org.lsm.spring01.domain.TodoVO">
        select * from tbl_todo where tno = #{tno}
    </select>

    <delete id="delete">
        delete from tbl_todo where tno = #{tno}
    </delete>

    <update id="update">
        update tbl_todo set title=#{title}, localDate=#{localDate}, finished=#{finished} where tno=#{tno}
    </update>

<!--    <select id="selectList" resultType="org.lsm.spring01.domain.TodoVO">-->
<!--        select * from tbl_todo order by tno limit #{skip}, #{size}-->
<!--    </select>-->

<!--    <select id="getCount" resultType="int">-->
<!--        select count(tno) from tbl_todo-->
<!--    </select>-->

    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">
                <foreach collection="types" item="type" open="(" close=")" separator=" OR ">
                    <if test="type == 't'.toString()">
                        title like concat('%' , #{keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        writer like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
            <if test="finished">
                <trim prefix="and">
                    finished = 1
                </trim>
            </if>
            <if test="from != null and to != null">
                <trim prefix="and">
                    localDate between #{from} and #{to}
                </trim>
            </if>
        </where>
    </sql>

    <select id="selectList" resultType="org.lsm.spring01.domain.TodoVO">
        select * from tbl_todo
        <include refid="search" />
        order by tno desc limit #{skip}, #{size}
    </select>
    
    <select id="getCount" resultType="int">
        select count(tno) from tbl_todo
        <include refid="search" />
    </select>

</mapper>